@keyframes fishGo {
  0% {
    right: 1%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 95%;
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.scene {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  background: linear-gradient(210deg, #1a449d, #1d2c4c);
  box-shadow: 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 16px #ffcc33, inset 0px 16px 1px #ffcc33;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(0, 0);
  transform: rotate(135deg);
}

.name {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  line-height: inherit;
  letter-spacing: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allstar {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star1 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 96.3083120526%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.1454074368s infinite;
}
.star1 img {
  width: 100%;
}

.star2 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 49.0764795094%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 4.3979687225s infinite;
}
.star2 img {
  width: 100%;
}

.star3 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3.859789125%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 2.2402005744s infinite;
}
.star3 img {
  width: 100%;
}

.star4 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 37.2539211322%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.5552749429s infinite;
}
.star4 img {
  width: 100%;
}

.star5 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 32.6484703092%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 4.5883348408s infinite;
}
.star5 img {
  width: 100%;
}

.star6 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40.3540778732%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 8.7107436082s infinite;
}
.star6 img {
  width: 100%;
}

.star7 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 13.7463796648%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 4.4848699115s infinite;
}
.star7 img {
  width: 100%;
}

.star8 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 19.8826765847%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 2.7891878368s infinite;
}
.star8 img {
  width: 100%;
}

.star9 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 54.4908784454%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 0.2500060732s infinite;
}
.star9 img {
  width: 100%;
}

.star10 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 67.8221456164%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 2.4669999647s infinite;
}
.star10 img {
  width: 100%;
}

.star11 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 82.002012665%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 1.9157155273s infinite;
}
.star11 img {
  width: 100%;
}

.star12 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 70.2127824795%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.8450900886s infinite;
}
.star12 img {
  width: 100%;
}

.star13 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 89.3815057435%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.3486343446s infinite;
}
.star13 img {
  width: 100%;
}

.star14 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 88.7306948905%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.083561737s infinite;
}
.star14 img {
  width: 100%;
}

.star15 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7.7957486626%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 7.1272212352s infinite;
}
.star15 img {
  width: 100%;
}

.star16 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24.4708322462%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 2.8514658808s infinite;
}
.star16 img {
  width: 100%;
}

.star17 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 70.683782375%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 0.7160645299s infinite;
}
.star17 img {
  width: 100%;
}

.star18 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 78.9183664343%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 0.2714814699s infinite;
}
.star18 img {
  width: 100%;
}

.star19 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 71.6427739329%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.9659469545s infinite;
}
.star19 img {
  width: 100%;
}

.star20 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 43.1667479888%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 1.2028752034s infinite;
}
.star20 img {
  width: 100%;
}

.star21 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 97.483137574%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 9.7054441407s infinite;
}
.star21 img {
  width: 100%;
}

.star22 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 56.2272831135%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 4.6988270311s infinite;
}
.star22 img {
  width: 100%;
}

.star23 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 99.3886934545%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 1.0893776759s infinite;
}
.star23 img {
  width: 100%;
}

.star24 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 81.003246379%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 6.6151270114s infinite;
}
.star24 img {
  width: 100%;
}

.star25 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 94.7050892627%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 5.6059024471s infinite;
}
.star25 img {
  width: 100%;
}

.star26 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 55.6777690318%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 4.6519468258s infinite;
}
.star26 img {
  width: 100%;
}

.star27 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 96.8789839967%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 3.057999921s infinite;
}
.star27 img {
  width: 100%;
}

.star28 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 35.2919265516%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 9.9428280954s infinite;
}
.star28 img {
  width: 100%;
}

.star29 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 26.2389227716%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 7.2917460891s infinite;
}
.star29 img {
  width: 100%;
}

.star30 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 95.1827719101%;
  right: 0;
  opacity: 0;
  transform: rotate(45deg);
  animation: fishGo 5s linear 8.9032149293s infinite;
}
.star30 img {
  width: 100%;
}/*# sourceMappingURL=MoonCard_hw.css.map */